

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isAuthenticated()">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="welcome">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="unicorns">Unicornios</a></li>
        <li class="breadcrumb-item"><a routerLink="login" (click)="cerrarSesion()">Login</a></li>
      </ol>
    </nav>
  </div>
</nav>

<router-outlet></router-outlet>